html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2021/06/01/15/44/mountains-6302023_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3rem 0 0 0;
    color: #ffffff;
    font-family: Tahoma;
    font-size: 1rem;
}

header {
    text-align: center;
}

h1 {
    padding-top: 0.8em;
    margin: 0;
}

header p {
    font-style: italic;
}

main {
    background-color: #2B2B37;
    margin: 2em auto 0 auto;
    min-width: 50%;
    max-width: 70%;
}

form {
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 1em;
    width: 85%;
}

input,
select,
label,
textarea {
    display: block;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    width: unset;
    vertical-align: middle;
    transform: scale(1.5);
    margin: 1em 10px;
}

input,
select,
textarea {
    margin: 1em auto;
    border: 1px solid #686663;
    padding: 15px;
    background-color: #2D2E2F;
    border-radius: 5px;
    font-size: 0.8em;
    width: 100%;
    color: #ffffff;
}

input[type="submit"] {
    width: 60%;
    margin-bottom: unset;
}

.container {
    background-color: #2D2E2F;
    height: 100%;
}

.input-group {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid #ffffff;
    width: 100%;
}